body{
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
.login-container{
    width: 100%;
    padding-top:80px;
    padding-bottom:80px;
}
.register-inner{
    width:800px;
    height:750px;
    background-color: white;
    left:50%;
    margin:0 auto;
    border-radius: 20px;
}
.register-inner img{
    width:120px;
    height:120px;
   margin-left:330px;
   margin-top:20px;
}
.form-container{
    margin-left:35px;
    margin-right:35px;
    margin-top: 35px;
}
.submit-btn{
    background-color: blue;
}
a{
    text-decoration:none;
}
.wider{
    width:400px;
}
.btn-input{
    width:100%;
}
@media (max-width:768px) {
    .register-inner{
        width:500px;
        height:850px;
    }

    .login-container{
        padding-top:20px;
        padding-bottom:20px;
    }
    .wider{
        width:100%;
    }

    .register-inner img{
       margin-left:190px;
    }
}